.cont{
		
	width: 90%;
	margin: auto;
	display:grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: auto;
	text-align: center;
	gap:30px;
	margin-top: 50px;
}
.cont>div>img{
	border-radius: 10px;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	width:100%;
	cursor: pointer;
} 
.cont>div>img:hover{
	transform: scale(1.02);
	 transition: 1s;
}
.pri{
	text-align: center;
	background-color: rgb(206, 206, 241);
}
